*,
*::before,
*::after { box-sizing: border-box; }
html, body { height: 100%; }
body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd { margin: 0; }
ul[role='list'], ol[role='list'] { list-style: none; }
img, picture, video, canvas, svg { display: block; max-width: 100%; }
input, button, textarea, select { font: inherit; }
:root { color-scheme: light dark; }
:focus-visible { outline: 2px solid var(--clr-focus-ring); outline-offset: 2px; }
