/* Collection name: Primitives */
/* Mode: Value */
:root {
  --global-spacing-spacing-0: 0px;
  --global-spacing-spacing-4: 4px;
  --global-spacing-spacing-8: 8px;
  --global-spacing-spacing-12: 12px;
  --global-spacing-spacing-16: 16px;
  --global-spacing-spacing-20: 20px;
  --global-spacing-spacing-24: 24px;
  --global-spacing-spacing-32: 32px;
  --global-spacing-spacing-40: 40px;
  --global-spacing-spacing-48: 48px;
  --global-spacing-spacing-64: 64px;
  --global-breakpoints-sm: 320px;
  --global-breakpoints-md: 768px;
  --global-breakpoints-lg: 992px;
  --global-breakpoints-xl: 1200px;
  --global-spacing-spacing-1: 1px;
  --global-spacing-spacing-2: 2px;
  --global-spacing-spacing-76: 76px;
  --global-spacing-spacing-52: 52px;
  --global-spacing-spacing-36: 36px;
  --global-spacing-spacing-44: 44px;
  --global-spacing-spacing-56: 56px;
  --global-spacing-spacing-60: 60px;
  --global-spacing-spacing-68: 68px;
  --global-spacing-spacing-72: 72px;
  --ntg-colour-primary--blue-100: #b4b4ca;
  --ntg-colour-primary--blue-200: #8f8faf;
  --ntg-colour-primary--blue-300: #6a6a94;
  --ntg-colour-primary--blue-400: #44447a;
  --ntg-colour-primary--blue-default: #1f1f5f;
  --ntg-colour-primary--blue-600: #1a1a4f;
  --ntg-colour-primary--blue-700: #15153f;
  --ntg-colour-primary--blue-800: #0f0f2f;
  --ntg-colour-primary--blue-900: #0a0a20;
  --ntg-colour-primary--orange-100: #f6c5ac;
  --ntg-colour-primary--orange-200: #f1a882;
  --ntg-colour-primary--orange-300: #ec8c58;
  --ntg-colour-primary--orange-400: #e86f2f;
  --ntg-colour-primary--orange-default: #e35205;
  --ntg-colour-primary--orange-600: #bd4404;
  --ntg-colour-primary--orange-700: #973703;
  --ntg-colour-primary--orange-800: #712902;
  --ntg-colour-primary--orange-900: #4c1b02;
  --ntg-colour-secondary--ochre-100: #cda5a0;
  --ntg-colour-secondary--ochre-200: #e19b92;
  --ntg-colour-secondary--ochre-300: #d77a6e;
  --ntg-colour-secondary--ochre-400: #cd594a;
  --ntg-colour-secondary--ochre-default: #c33826;
  --ntg-colour-secondary--ochre-600: #a22f20;
  --ntg-colour-secondary--ochre-700: #822519;
  --ntg-colour-secondary--ochre-800: #611c13;
  --ntg-colour-secondary--ochre-900: #41130d;
  --ntg-colour-secondary--coral-100: #ebc5cb;
  --ntg-colour-secondary--coral-200: #e0a7b0;
  --ntg-colour-secondary--coral-300: #d68a96;
  --ntg-colour-secondary--coral-400: #cc6d7c;
  --ntg-colour-secondary--coral-default: #c25062;
  --ntg-colour-secondary--coral-600: #a24352;
  --ntg-colour-secondary--coral-700: #813541;
  --ntg-colour-secondary--coral-800: #612831;
  --ntg-colour-secondary--coral-900: #411b21;
  --ntg-colour-secondary--sky-blue-100: #b0d3ea;
  --ntg-colour-secondary--sky-blue-200: #88bddf;
  --ntg-colour-secondary--sky-blue-300: #61a8d5;
  --ntg-colour-secondary--sky-blue-400: #3992ca;
  --ntg-colour-secondary--sky-blue-default: #127cc0;
  --ntg-colour-secondary--sky-blue-600: #0f67a0;
  --ntg-colour-secondary--sky-blue-700: #0c5380;
  --ntg-colour-secondary--sky-blue-800: #093e60;
  --ntg-colour-secondary--sky-blue-900: #062940;
  --ntg-colour-secondary--teal-100: #aad4da;
  --ntg-colour-secondary--teal-200: #80bec8;
  --ntg-colour-secondary--teal-300: #55a9b6;
  --ntg-colour-secondary--teal-400: #2a93a3;
  --ntg-colour-secondary--teal-default: #007e91;
  --ntg-colour-secondary--teal-600: #006979;
  --ntg-colour-secondary--teal-700: #005461;
  --ntg-colour-secondary--teal-800: #003f48;
  --ntg-colour-secondary--teal-900: #002a30;
  --ntg-colour-secondary--rubine-red-100: #ddaac1;
  --ntg-colour-secondary--rubine-red-200: #cb80a1;
  --ntg-colour-secondary--rubine-red-300: #ba5582;
  --ntg-colour-secondary--rubine-red-400: #a92a63;
  --ntg-colour-secondary--rubine-red-default: #980044;
  --ntg-colour-secondary--rubine-red-600: #7f0039;
  --ntg-colour-secondary--rubine-red-700: #65002d;
  --ntg-colour-secondary--rubine-red-800: #4c0022;
  --ntg-colour-secondary--rubine-red-900: #330017;
  --ntg-colour-secondary--bottle-green-100: #aacdd1;
  --ntg-colour-secondary--bottle-green-200: #80b4ba;
  --ntg-colour-secondary--bottle-green-300: #559ba3;
  --ntg-colour-secondary--bottle-green-400: #2a828c;
  --ntg-colour-secondary--bottle-green-default: #006975;
  --ntg-colour-secondary--bottle-green-600: #005761;
  --ntg-colour-secondary--bottle-green-700: #00464e;
  --ntg-colour-secondary--bottle-green-800: #00343a;
  --ntg-colour-secondary--bottle-green-900: #002327;
  --ntg-colour-neutrals-100: #f6f6f6;
  --ntg-colour-neutrals-200: #eae9e8;
  --ntg-colour-neutrals-300: #d4d4d2;
  --ntg-colour-neutrals-400: #cac9c6;
  --ntg-colour-neutrals-500: #bfbebb;
  --ntg-colour-neutrals-600: #949391;
  --ntg-colour-neutrals-700: #777674;
  --ntg-colour-neutrals-800: #595857;
  --ntg-colour-neutrals-900: #3b3b3a;
  --ntg-colour-neutrals-white: #ffffff;
  --ntg-colour-neutrals-black: #000000;
  --ntg-colour-status-info-blue-100: #afd3ea;
  --ntg-colour-status-info-blue-200: #9dc9e5;
  --ntg-colour-status-info-blue-300: #60a8d5;
  --ntg-colour-status-info-blue-400: #3892ca;
  --ntg-colour-status-info-blue-default: #107cc0;
  --ntg-colour-status-info-blue-600: #0d67a0;
  --ntg-colour-status-info-blue-700: #0b5380;
  --ntg-colour-status-info-blue-800: #083e60;
  --ntg-colour-status-info-blue-900: #052940;
  --ntg-colour-status-info-blue-50: #e4f0f8;
  --ntg-colour-status-success-green-100: #afd2af;
  --ntg-colour-status-success-green-50: #cfe4cf;
  --ntg-colour-status-success-green-200: #88bc88;
  --ntg-colour-status-success-green-300: #60a560;
  --ntg-colour-status-success-green-400: #388f38;
  --ntg-colour-status-success-green-default: #107810;
  --ntg-colour-status-success-green-600: #0d640d;
  --ntg-colour-status-success-green-700: #0b500b;
  --ntg-colour-status-success-green-800: #083c08;
  --ntg-colour-status-success-green-900: #052805;
  --ntg-colour-status-warning-orange-50: #fbece7;
  --ntg-colour-status-warning-orange-100: #f1c0ad;
  --ntg-colour-status-warning-orange-200: #eba085;
  --ntg-colour-status-warning-orange-300: #e4805c;
  --ntg-colour-status-warning-orange-400: #dd6133;
  --ntg-colour-status-warning-orange-default: #d6410a;
  --ntg-colour-status-warning-orange-600: #b23608;
  --ntg-colour-status-warning-orange-700: #8f2b07;
  --ntg-colour-status-warning-orange-800: #6b2105;
  --ntg-colour-status-warning-orange-900: #471603;
  --ntg-colour-status-danger-red-50: #f7e7eb;
  --ntg-colour-status-danger-red-100: #e1afbc;
  --ntg-colour-status-danger-red-200: #d3879b;
  --ntg-colour-status-danger-red-300: #c45f7a;
  --ntg-colour-status-danger-red-400: #b53758;
  --ntg-colour-status-danger-red-default: #a60f37;
  --ntg-colour-status-danger-red-600: #8a0d2e;
  --ntg-colour-status-danger-red-700: #6f0a25;
  --ntg-colour-status-danger-red-800: #53081c;
  --ntg-colour-status-danger-red-900: #370512;
  --ntg-central-colour-primary--blue-100: #afb5bf;
  --ntg-central-colour-primary--blue-200: #878f9f;
  --ntg-central-colour-primary--blue-light: #606a80;
  --ntg-central-colour-primary--blue-mid: #384560;
  --ntg-central-colour-primary--blue-default: #102040;
  --ntg-central-colour-primary--blue-600: #0d1b35;
  --ntg-central-colour-primary--blue-700: #0b152b;
  --ntg-central-colour-primary--blue-800: #081020;
  --ntg-central-colour-primary--blue-900: #050b15;
  --ntg-central-colour-secondary--green-pale: #d2e7d2;
  --ntg-central-colour-secondary--green-200: #8fc38f;
  --ntg-central-colour-secondary--green-300: #6ab06a;
  --ntg-central-colour-secondary--green-light: #20a030;
  --ntg-central-colour-secondary--green-default: #208820;
  --ntg-central-colour-secondary--green-dark: #1b711b;
  --ntg-central-colour-secondary--green-700: #155b15;
  --ntg-central-colour-secondary--green-800: #104410;
  --ntg-central-colour-secondary--green-900: #0b2d0b;
  --ntg-central-colour-secondary--orange-pale: #fce4d8;
  --ntg-central-colour-secondary--orange-200: #f1a383;
  --ntg-central-colour-secondary--orange-300: #ed855a;
  --ntg-central-colour-secondary--orange-mid: #e47024;
  --ntg-central-colour-secondary--orange-default: #e44808;
  --ntg-central-colour-secondary--orange-600: #c43004;
  --ntg-central-colour-secondary--orange-700: #983005;
  --ntg-central-colour-secondary--orange-800: #722404;
  --ntg-central-colour-secondary--orange-900: #4c1803;
  --ntg-central-colour-neutrals-50: #eeeff0;
  --ntg-central-colour-neutrals-100: #ecf0f0;
  --ntg-central-colour-neutrals-200: #dce0e4;
  --ntg-central-colour-neutrals-300: #c8cacd;
  --ntg-central-colour-neutrals-400-neutral: #acb0b4;
  --ntg-central-colour-neutrals-500: #8f9396;
  --ntg-central-colour-neutrals-800-neutral: #6c7074;
  --ntg-central-colour-neutrals-850: #56585a;
  --ntg-central-colour-neutrals-900: #393b3c;
  --ntg-central-colour-neutrals-white: #ffffff;
  --ntg-central-colour-neutrals-black: #000000;
  --ntg-central-colour-primary--blue-pale: #d0e0e0;
  --ntg-central-colour-status-info-blue-50: #e4f0f8;
  --ntg-central-colour-status-info-blue-100: #afd3ea;
  --ntg-central-colour-status-info-blue-200: #9dc9e5;
  --ntg-central-colour-status-info-blue-300: #60a8d5;
  --ntg-central-colour-status-info-blue-400: #3892ca;
  --ntg-central-colour-status-info-blue-default: #107cc0;
  --ntg-central-colour-status-info-blue-600: #0d67a0;
  --ntg-central-colour-status-info-blue-700: #0b5380;
  --ntg-central-colour-status-info-blue-800: #083e60;
  --ntg-central-colour-status-info-blue-900: #052940;
  --ntg-central-colour-status-success-green-50: #cfe4cf;
  --ntg-central-colour-status-success-green-100: #afd2af;
  --ntg-central-colour-status-success-green-200: #88bc88;
  --ntg-central-colour-status-success-green-300: #60a560;
  --ntg-central-colour-status-success-green-400: #388f38;
  --ntg-central-colour-status-success-green-default: #107810;
  --ntg-central-colour-status-success-green-600: #0d640d;
  --ntg-central-colour-status-success-green-700: #0b500b;
  --ntg-central-colour-status-success-green-800: #083c08;
  --ntg-central-colour-status-success-green-900: #052805;
  --ntg-central-colour-status-warning-orange-50: #fbece7;
  --ntg-central-colour-status-warning-orange-100: #f1c0ad;
  --ntg-central-colour-status-warning-orange-200: #eba085;
  --ntg-central-colour-status-warning-orange-300: #e4805c;
  --ntg-central-colour-status-warning-orange-400: #dd6133;
  --ntg-central-colour-status-warning-orange-default: #d6410a;
  --ntg-central-colour-status-warning-orange-600: #b23608;
  --ntg-central-colour-status-warning-orange-700: #8f2b07;
  --ntg-central-colour-status-warning-orange-800: #6b2105;
  --ntg-central-colour-status-warning-orange-900: #471603;
  --ntg-central-colour-status-danger-red-50: #f7e7eb;
  --ntg-central-colour-status-danger-red-100: #e1afbc;
  --ntg-central-colour-status-danger-red-200: #d3879b;
  --ntg-central-colour-status-danger-red-300: #c45f7a;
  --ntg-central-colour-status-danger-red-400: #b53758;
  --ntg-central-colour-status-danger-red-default: #a60f37;
  --ntg-central-colour-status-danger-red-600: #8a0d2e;
  --ntg-central-colour-status-danger-red-700: #6f0a25;
  --ntg-central-colour-status-danger-red-800: #53081c;
  --ntg-central-colour-status-danger-red-900: #370512;
  --global-spacing-spacing-full: 100px;
  --global-spacing-spacing-half: 0.5px;
  --global-spacing-spacing-14: 14px;
  --global-spacing-spacing-18: 18px;
  --global-spacing-spacing-28: 28px;
  --ntg-colour-new-brand-regional-colours-darwin: #76ba43;
  --ntg-colour-new-brand-regional-colours-top-end: #009dc1;
  --ntg-colour-new-brand-regional-colours-east-arnhem: #d1dd26;
  --ntg-colour-new-brand-regional-colours-big-rivers: #fcb414;
  --ntg-colour-new-brand-regional-colours-barkly: #f05a24;
  --ntg-colour-new-brand-regional-colours-central-australia: #ed164e;
  --ntg-colour-new-brand-regional-colours-darwin-ac: #398600;
  --ntg-colour-new-brand-regional-colours-top-end-ac: #00819e;
  --ntg-colour-new-brand-regional-colours-barkly-ac: #d2430f;
  --ntg-colour-new-brand-regional-colours-central-australia-ac: #e8114b;
  --ntg-colour-new-brand-primary-territory: #f4551a;
  --ntg-colour-new-brand-primary-charcoal: #343741;
  --ntg-colour-new-brand-primary-territory-ac: #d6410a;
  --ntg-colour-new-brand-secondary-sand: #d9ded4;
  --ntg-colour-new-brand-secondary-monsoon: #003251;
  --ntg-colour-new-brand-secondary-coastline: #2e979c;
  --ntg-colour-new-brand-secondary-savannah: #566c30;
  --ntg-colour-new-brand-secondary-ranges: #552855;
  --ntg-colour-new-brand-secondary-coastline-ac: #288186;
  --ntg-type-size-1: 12px;
  --ntg-type-size-2: 14px;
  --ntg-type-size-3: 16px;
  --ntg-type-size-4: 18px;
  --ntg-type-size-5: 20px;
  --ntg-type-size-6: 24px;
  --ntg-type-size-7: 32px;
  --ntg-type-size-8: 48px;
  --ntg-type-line-height-1: 16px;
  --ntg-type-line-height-2: 20px;
  --ntg-type-line-height-3: 24px;
  --ntg-type-line-height-4: 28px;
  --ntg-type-line-height-5: 36px;
  --ntg-type-line-height-6: 48px;
  --ntg-type-weight-1: 400px;
  --ntg-type-weight-2: 700px;
  --ntg-type-letter-spacing-0: 0px;
  --ntg-type-letter-spacing-1: 2px;
}
